<footer>
  <div class="d-flex flex-row justify-content-around align-items-end">
    <div class="p2">
      <li><a href="#"><i class="fa fa-phone"></i>0435542545</a></li>
    </div>
    <div class="p2">
      <li><a href="#"><i class="fa fa-envelope-o"></i>delphine&#64;gmail.com</a></li>
    </div>
    <div class="p2">
      <li><a href="#"><i class="fa fa-map-marker"></i>50 rue des lilas 35000 Rennes</a></li>
    </div>
    <div class="p2">
      <li><a href="#"><i class="fa fa-euro"></i>SAS Limité</a></li>
    </div>
    <div class="p2">
      <li><a href="#"><i class="fa fa-user-o"></i>Nous contacter</a></li>
    </div>
  </div>

</footer>
